*.pssl
*.vssl
*.obj
*.sln
*.cso
*.vcxproj
*.vcxproj.user
*Orbis.cpp
*Orbis.h
*orbis.cpp
*orbis.h
*Durango.cpp
*Durango.h
*durango.cpp
*durango.h
XCFramework/Engine/Graphics/XC_Shaders/src/*
XCFramework/bin/*
XCFramework/obj/*
XCFramework/.vs/*
*.pdb
*.filters
*.vcxproj
*.suo
*log.txt
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/Debug
/XCTools/FBXToXCMeshConverter/Debug
/XCTools/XCShaderCompiler/XCShaderCompiler/obj/Debug
/XCTools/XCShaderCompiler/XCShaderCompiler/bin/Debug
/XCFramework/Debug
/XCFramworkEditor/obj/Debug
/XCFramworkEditor/bin/Debug
/XCFramework/.settings
