*.pssl
*.vssl
*.obj
*.sln
*.cso
*.vcxproj
*.vcxproj.user
*Orbis.cpp
*Orbis.h
*orbis.cpp
*orbis.h
*Durango.cpp
*Durango.h
*durango.cpp
*durango.h
XCFramework/Engine/Graphics/XC_Shaders/src/*
XCFramework/bin/*
XCFramework/obj/*
XCFramework/.vs/*
*.exe
*.pdb
*.filters
*.vcxproj
*.suo
*log.txt
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/Debug
/XCTools/FBXToXCMeshConverter/Debug
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/Jd_regular_all_character_new.xcmesh
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/Jd_regular_all_character_new.FBX
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/jd_objectcenter.xcmesh
/XCTools/FBXToXCMeshConverter/FBXToXCMeshConverter/jd_objectcenter.FBX
/XCFramework/Assets/Meshes/Fonts/sudhir.FBX
/XCFramework/Assets/Meshes/Fonts/New_A.FBX
/XCFramework/Assets/Meshes/Fonts/Jd_regular_all_character_test_culling.FBX
/XCFramework/Assets/Meshes/Fonts/Jd_regular_all_character_testnormal.FBX
/XCFramework/Assets/Meshes/Fonts/Jd_regular_all_character_new.FBX
/XCFramework/Assets/Meshes/Fonts/jd_objectcenter.FBX
/XCFramework/Assets/Meshes/Fonts/editable_mesh.FBX
/XCFramework/Assets/Meshes/Fonts/DA.FBX
/XCFramework/Assets/Meshes/Fonts/A.FBX
